body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #c5cac1;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.card {
  background: #fff;
  width: 300px;
  margin: 15px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card h2 {
  color: #396796;
}

.card p {
  margin: 5px 0;
}